#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --primary: #d26f71;
  --secondary: #f1d9d9;
  --tertiary: #fada6c;
  --teal: #177e89;
  --util: #2f323a;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

header ul {
  width: 100%;
}

.header-items {
  cursor: default;
}

.highlight {
  font-family: wosker, helvetica, sans-serif;
}

.desktop {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .desktop {
    display: none;
  }
}

@keyframes peek {
  0% {
    transform: translateY(0);
  }
  8%,
  86% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0);
  }
}

.kohead {
  animation: peek 12s infinite;
}

.invisible {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
  transition: 0.3s cubic-bezier(0.2, 0.885, 0.32, 1.475);
}

.invisible:hover {
  color: var(--primary);
  scale: 1.2;
}

.line {
  background: var(--font);
  height: 1px;
  width: 0%;
}

@keyframes line {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}


.item {
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.2, 0.885, 0.32, 1.475);
}

.item:hover {
  color: var(--primary);
}

.item:hover .line {
  animation: line 0.38s forwards;
}

.item:active {
  color: var(--teal);
}
