@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

:root {
  --secondary: #1f1b25;
  --primary: #000000;
  --action: #3fec28;
  --teal: #177e89;
  --util: #ffe8e8;
  
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--util);
  padding: 25px 0px;
}

header h3 {
  padding: 0px 20px;
}

.navigator{
  text-align: right;
  padding: 0px 25px;
  width: 200px;
}

.invis {
  background-color: #ffffff00;
  border: 0;
  cursor: pointer;
  padding: 0px;
  margin: 0px 10px;
  height: min-content;
}

.frame {
  background-color: var(--primary);
  z-index: 2;
  position: relative;
}

.logo {
  font-size: 25px;
  font-family: "Gruppo", sans-serif;
  transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.logo:hover{
  color: var(--action);
  letter-spacing: 0.15rem;
}

.logo:active{
  opacity: 0.5;
  transition: 0ms;
}

.containerItem{
  margin:0 10px;
}

#lefty {
  width: 20%;
  background-color: var(--secondary);
  height: fit-content;
  padding: 10px 10px;
}

#righty {
  width: 80%;
}

p{
  text-align: justify;
}

/* Phone Configurations */

@media screen and (max-width: 1000px) {
  #lefty{
    display: none;
  }

  #righty {
    width:100%;
  }
}

.line {
  width: 0%;
  height: 40px;
}

.line-container {
  width:100%;
  position: absolute;
  top: 70%;
  z-index: 0;
}

/* Item Container Settings */
.item-container{
  margin: 8px 0px;
  background-color: var(--secondary);
  padding: 20px 10px;
}

.item-container h4 {
  font-weight: 300;
}

.item-container .sub {
  font-weight: 100;
  color: rgb(117, 108, 151);
}

.item-container .sub-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-container img{
  max-height: 50px;
}